.login_page{
    align-items: center;
    background-color: #212121;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    .form_container{
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 8px;
        box-shadow: 0 0 2px 1px #efefef;
        padding: 32px;
        padding-top: 0px;
        width: 20%;
        .logo{
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
            margin-top: 16px;
            svg{
                height: 50px !important;
            }
        }
        .submitBtn{
            background-color: #f2f2f23b;
            border: none;
            color: #fff;
            height: 40px;
            width: 100%;
            border-radius: 0;
            opacity: 1;
        }
        .submitBtn:hover{
            opacity: 0.8;
            color: #fff;

        }
        .ant-form-item-explain-error{
            color: #fff;
        }
    }
}
