@import "../../styles/variables";
.ant-modal {
  margin-top: -50px;
  width: max-content !important;
  #all_submit {
    font-weight: 600;
    color: #fff;
    background-color: #212121;
  }
  #all_submit:disabled {
    opacity: 0.5;
    background-color: #21212156;
    border: 1px dotted black;
  }

  #add_child_btn {
    // margin: 25px 10px 10px 10px;
    width: 100%;
    overflow: hidden;
    height: 300px;
    font-size: 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  #add_child_btn:hover {
    background-color: transparent;
    color: #212121;
    border-color: gray;
  }

  #add_card {
    overflow: hidden;
    width: 504px;
    .ant-card-body {
      padding: 0;
    }
    padding: 0px !important;
  }

  .ant-form {
    width: 100% !important;
    .ant-flex {
      gap: 10px;
    }
  }
}
.table_card {
  height: 80%;
  background-color: #fff;
  border: 0;
}
.table_buttons {
  gap: 10px;
  overflow: auto;
}
#edit_btn,
#delete_btn,
#payment_btn {
  width: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  span {
    margin: -7px;
  }
}
#edit_btn {
  background-color: $blue-color;
}
#delete_btn, #delete_btn_modal {
  background-color: $red-color;
  color: #fff;
}
#payment_btn {
  background-color: $green-color;
}
.child_form_col {
  height: 400px !important;
  overflow-y: auto;
  .child_flex {
    align-items: end;
  }
  .button {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    margin-bottom: 10px;
    #card_close_button {
      padding: 0px;
      color: #fff;
      position: absolute;
      z-index: 10;
      border-radius: 50%;
      background: $red-color;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-right: -15px;
    }
  }
  .ant-picker {
    width: 100%;
  }
}
table {
  table-layout: fixed;
}
.payment_modal {
  width: 500px !important;
  min-width: 10% !important;
  .ant-spin-nested-loading {
    width: 100% !important;
  }
  .ant-form-item-control-input {
    width: fit-content;
  }
  .payment_form_item {
    .ant-form-item-control-input {
      width: 100%;
    }
    .ant-form-item-control-input-content {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 16px;

      * {
        font-size: 15px;
      }

      p {
        margin: 0;
      }
    }
  }
  .ant-modal-body {
    max-height: 500px;
    overflow: auto;
  }
  .ant-checkbox-group {
    gap: 10px;
    font-size: larger;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    .ant-checkbox-inner,
    :where(.css-dev-only-do-not-override-1adbn6x).ant-checkbox-wrapper:not(
        .ant-checkbox-wrapper-disabled
      ):hover
      .ant-checkbox-checked:not(.ant-checkbox-disabled)
      .ant-checkbox-inner {
      border-color: #212121;
      background-color: #21212160;
    }
  }
  .button_payment_flex {
    button:first-child , button:first-child:hover{
      background-color: $green-color;
    }
    button:last-child , button:last-child:hover {
      background-color: $blue-color;
    }
  }
  .make_payment_btn {
    height: 40px;
    font-weight: 600;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
}
#create_customer {
  font-weight: 600;
  // margin-left: -170px !important;
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background-color: #212121;
  border-color: #212121;
  color: #fff;
}
.table_container {
  padding: 10px 0 10px 0;
}
#search_input_table {
  background-color: #f4f5f3;
  font-weight: 600;
  width: 80%;
  margin-right: 10px;
}
#search_input_table:hover,
:where(.css-dev-only-do-not-override-1adbn6x).ant-input:focus,
:where(.css-dev-only-do-not-override-1adbn6x).ant-input:focus-within {
  border-color: black;
}
.ant-tooltip,
.ant-tooltip-inner {
  background-color: #f2f2f2 !important;
  color: #212121 !important;
}
