.layout_all {
  
  .ant_header,
  .antSider {
    overflow: hidden !important;
    background-color: #fcfbfc;
    .ant-menu,
    ul {
      padding: 1px;
      background-color: transparent !important;
    }
  }
  .menu_icon_left {
    span {
      svg {
        color: #212121 !important;
      }
    }
  }
  .ant-layout {
    background-color: #fff;
  }
  .antSider {
    overflow: auto;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    width: 200;

    .ant-layout-sider-children {
      padding: 10px;
    }
    .ant-layout-sider-trigger {
      display: none;
    }
    #logo {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid rgba(129, 128, 128, 0.5);
      svg {
        height: 50px !important;
      }
    }

    .ant-menu-item-selected,
    .ant-menu-dark > .ant-menu,
    .ant-menu-item-selected {
      background: #212121;
      border-radius: 0 !important;
      width: 100% !important;
      margin-inline: 0 !important;
      margin-top: 5px;
      color: #000;
      border-radius: 5px !important;
    }
    .ant-menu-item-active {
      background: #2121215d;
      color: rgba(6, 38, 44, 0.8) !important;
    }
    .ant-menu-item-active:hover {
      background: #2121215d;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 32px !important;
      border-radius: 10 !important;
      width: 100% !important;
      margin-inline: 0 !important;
      margin-top: 5px;
      color: #000 !important;
      font-weight: 600;
    }
    li .ant-menu-sub,
    li .ant-menu-inline {
      background-color: transparent !important;
    }

    .ant-menu-submenu,
    .ant-menu-submenu-title {
      margin: 0px !important;
      padding: 0px;
    }
  }
  .layout_header {
    padding: 10px;
    .ant_header {
      display: flex;
      position: sticky;
      justify-content: space-between;
      padding-inline: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      align-items: center;
      border-bottom: 1px solid rgba(129, 128, 128, 0.5);

      .header_top {
        display: flex;
        padding-right: 20px;
        width: 100%;
        background-color: #fff;
        #menu_icon {
          margin-left: 20px;
          font-size: 18px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  .layout_content {
    .page_header_flex_main {
      padding-inline: 20px;
      background-color: #fff;
      line-height: 16px;
      border-bottom: 1px solid rgba(129, 128, 128, 0.5);
      h2 {
        font-weight: 400;
        margin-bottom: 10px;
      }
      p {
        font-style: italic;
        color: gray;
        margin-top: 0px;
      }
      .page_header_button {
        display: flex;
        align-items: center;
      }
    }
  }
}
.layout_all .antSider .ant-menu-item-selected,
.layout_all .antSider .ant-menu-dark > .ant-menu,
.layout_all .antSider .ant-menu-item-selected {
  color: #fff !important;
}
.flex_sider_content {
  height: 100%;
}
.header_right {
  margin: 10px;
  font-weight: 600;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.3s;
  justify-content: start;
  cursor: pointer;
  .ant-divider {
    margin: 0;
  }
  .user_settings {
    display: flex;
    align-items: center;
    .ant-avatar {
      width: 30px;
      height: 30px;
      .anticon , .anticon-user{
        font-size: 22px !important;
  
      }
    }
    span:nth-child(2) {
      margin-left: 10px;
      text-wrap: wrap;
    }
  }
  #logout_btn {
    display: flex;
    padding: 0;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border: 0;
    color: #000;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    span:last-child {
      margin-left: 10px;
    }
    svg {
      font-size: 29px;
    }
    
  }
  #logout_btn:hover {
    color: #000;
    background-color: transparent;
  }
}
main {
  background: #fff;
}
